.left-menu {
  width: 260px;
  height: 100%;
  padding: 20px 40px;
  font-size: 14px;
  border-right: 1px solid #bdbdbd;
  >li {
    margin-bottom: 10px;
  }
}

.content {
  padding: 26px;
  font-size: 26px;
}